{
  "exclude": [".d.ts$"],
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "jsc": {
    "baseUrl": "src",
    "paths": {
      "@database/*": ["./database/*"],
      "@custom/*": ["./custom/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "functionBind": true
    },
    "transform": {
      "optimizer": {
        "jsonify": {
          "minCost": 0
        },
        "simplify": false
      }
    },
    "loose": true,
    "target": "es5"
  }
}
